
body {
  overflow-x: hidden; 
}

img {
  max-width: 100%; 
}

.details {
  margin-bottom: 5%;
} 

.checked, .price span {
  color: #990000; 
}

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.add-to-cart, .like {
  background: #990000;
  padding: 1.2em 1.5em;
  border: none;
  border-radius: 5px;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
}

.add-to-cart:hover, .like:hover {
  background: #de5d83;
  color: #000; 
}

.icons {
  padding: 20px;
  font-size: 1vw;
  width: 1%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}