.container-slideshow {
  width: 20%;
  height: 20%;
}

.container-slideshow img {
    width:  50vw;
    height: 30vw;
}

#desc {
  margin-bottom: 10%;
}

.fa {
  padding: 20px;
  font-size: 2vw;
  width: 1%;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
