html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
}

footer {
    background-color: #de5d83;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 10vw;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

img {
  border-radius: 10px;
}

.nav{
	position: sticky;
  	top: 0;
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    height: 10%;
    z-index: 1;
    background-color: white;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    color: black;
    text-decoration: none;
    /*width: 10%;*/
    padding: 0 1% 0 1%;
    font-size: 2vw;
}

.nav a:hover {
	background-color: #B8B8B8;
}

.nav h3 {
  display: inline-block;
	padding: 2%;
	font-size: 2vw;
	margin: 0;
}

.container-slideshow {
	width: 20%;
  height: 20%;
}

.container-slideshow img {
    width:  50vw;
    height: 30vw;
}

.container-slideshow #slideshow-image-1 {
	left: -100px;
}

p {
	font-size: 2vw;
}

strong {
  font-size: 2vw;
}

h4 {font-size: 2.5vw;}



.fa-facebook {
  background: #3B5998;
  color: white;

}

.fa-linkedin {
  background: #007bb5;
  color: white;
}